.movie-card {
    position: relative;
    border-radius: 12px;

}

.movie-card__img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
    overflow: hidden;
    transition: all 0.5s ease;
}

.link {
    width: 100%;
    height: 100%;
}

.movie-card__img--hidden{
    background: #fff;
    padding-bottom: 150%;
}