.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../shared/assets/images/Frame.jpg');
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
}