.filmList{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 40px;
    column-gap: 40px;
    margin-bottom: 50px;
}

.loaderContainer {
    display: block; 
    text-align: center; 
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
}